.title {
  /* font-family: Montserrat, sans-serif; */
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 3.5rem;
  margin-top: 0;
  margin-bottom: 2.625rem;
  text-rendering: optimizeLegibility;
}
.title a {
  /* color:black; */
  text-decoration: none;
}

.title-blogpost {
  /* font-family: Montserrat, sans-serif; */
  font-size: 1.44rem;
  font-weight: 900;
  line-height: 3.5rem;
  margin-top: 0;
  margin-bottom: 2.625rem;
  text-rendering: optimizeLegibility;
}

.articlesList,
.articlesList > li {
  list-style: none;
  padding: 10px;
  /*margin: 0 0 2.625rem;*/
}

.footer {
  padding: 10px 10px 0px 10px;
  margin-top: 7rem;
  margin-bottom: 2rem;
  bottom: 0;
  height: 20px;
}

.card {
  min-width: 250px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  transition: 0.2s;
  margin: 0;
  scroll-snap-align: start;
  clear: both;
  position: relative;
  background-color: #131516;
  font-size: 0.9rem;
}

.ArticleSummary h2 {
  font-weight: 900;
  margin-bottom: 0;
  margin-top: 0;
}

.ArticleSummary a {
  text-decoration: none;
  color: rgb(199, 194, 187);
  text-decoration: underline;
  /*background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 5px, rgb(54, 58, 60) 5px, rgb(54, 58, 60));*/
  background-position: bottom;
  background-size: 100% 6px;
  background-repeat: repeat-x;
}

.ArticleSummary a:hover {
  color: rgb(199, 194, 187);
  background-image: linear-gradient(
    transparent,
    transparent 4px,
    #286fb4 4px,
    #286fb4
  );
}

.ArticleSummary {
  display: flex;
  margin-bottom: 5px;
}

.TimeStamp {
  display: block;
  margin-right: 16px;
  min-width: 100px;
  color: #666;
  font-size: 14px;
  line-height: 1.4;
}
