:root {
  --primary-color: #286fb4;
  --primary-color-light: #4d7ca8;
  font-family: "Menlo", "Meslo LG", monospace;
  font-feature-settings: "kern", "liga", "clig", "calt";
  font-weight: 400;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  background-color: #181a1b;
  font-kerning: normal;
}

:global * {
  box-sizing: border-box;
}
/* 
:global(pre),
:global(code) {
  font-family: Consolas, Menlo, Monaco, source-code-pro, "Courier New",
    monospace;
  font-size: 0.85rem;
  line-height: 1.5;
} */

:global html {
  /* Default White theme? */
  color: rgba(0, 0, 0, 0.9);
  /* font: 100%/1.75 'Open Sans', Georgia, serif; */
  /*background-color: rgb(243, 243, 243);*/
  background-color: rgb(23, 25, 26);
  /* color: white; */
  font-kerning: normal;
  /* TODO: Fix this mess with font-family */
  /* font-family: 'Merriweather','Georgia',serif; https://fonts.googleapis.com/css?family=Source+Code+Pro */
  /* font-family: 'Open Sans', monospace;*/
  /* font-family: 'Ubuntu', sans-serif;*/
  /* font-family: 'Menlo Regular', sans-serif; */
  /* font-family: 'Ubuntu', sans-serif; */
  font-family: "Menlo Regular";
  font-feature-settings: "kern", "liga", "clig", "calt";
  font-weight: 400;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}

@font-face {
  font-family: "Menlo Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Menlo Regular"),
    url("./components/fonts/Menlo-Regular.woff") format("woff");
}

:global body {
  font-kerning: normal;
  /* TODO: Fix this mess with font-family */
  /* font-family: 'Merriweather','Georgia',serif; https://fonts.googleapis.com/css?family=Source+Code+Pro */
  /* font-family: 'Open Sans', monospace;*/
  /* font-family: 'Ubuntu', sans-serif;*/
  /* font-family: 'Menlo Regular', sans-serif; */
  /* font-family: 'Ubuntu', sans-serif; */
  font-family: "Menlo", "Meslo LG", monospace;
  font-feature-settings: "kern", "liga", "clig", "calt";
  font-weight: 400;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}

/**
* Based on copypasta from Remy Bach and Sarah Drasner
*/
/* code {
  font-family: Consolas, Menlo, Monaco, source-code-pro, Courier New, monospace;
  font-feature-settings: normal;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  tab-size: 4;
  hyphens: none;
  background-image: initial;
  background-color: rgb(31, 34, 35);
  color: rgb(165, 162, 157);
  margin: 1rem 0;
  border-radius: 0.3em;
  padding: 0.15em 0.2em 0.05em;
  font-style: italic;
}

pre {
  font-family: Consolas, Menlo, Monaco, source-code-pro, Courier New, monospace;
  font-feature-settings: normal;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  tab-size: 4;
  hyphens: none;
  background-image: initial;
  background-color: rgb(31, 34, 35);
  color: rgb(179, 172, 162);
  text-shadow: none;
  margin: 1rem 0;
  padding: 1rem;
} */

:global pre {
  border-radius: 10px;
  overflow: auto;
  padding: 1rem;
}

:global a {
  color: var(--primary-color);
}
:global a:hover {
  text-decoration: none;
}

:global p,
:global pre,
:global ul,
:global ol {
  margin-top: 0;
  /* margin-bottom: 1.75rem; */
}

h2 {
  position: relative;
  display: block;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  color: #eee;
  text-transform: none;
  letter-spacing: normal;
  font-weight: bold;
  font-size: 1.5rem;
  padding-left: 5px;
}

h2:before {
  position: absolute;
  top: -4px;
  left: -1rem;
  color: var(--primary-color-light);
  content: "#";
  font-weight: bold;
  font-size: 2rem;
}

a {
  color: #69aade;
}

.blogPostHeader {
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 0;
  color: #69aade;
}

.header-link-home {
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 0;
}
